@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-primary: white;
  --color-selected-primary: #f1f5f9;
  --color-secondary: #f9fbfd;
  --color-smoke: #64748b;
  --color-outlined: #e2e8f0;
}
 
/* @custom-variant dark (&:where(.dark, .dark *)); */

.radio-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  vertical-align: middle;
}

.radio-block label {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.radio-block input[type="radio"] {
  margin: 0 2px 0 0;
}

.select-options-block {
  display: flex;
}

.checkbox-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  vertical-align: middle;
}

.checkbox-block label {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.checkbox-block input[type="radio"] {
  margin: 0 2px 0 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}